@media (max-width: 980px) {
  .works__inner {
    flex-wrap: wrap;
  }
  .works__inner-item + .works__inner-item {
    margin-left: 0;
  }
  .works__inner-item {
    width: 48%;
    margin-bottom: 15px;
  }
}
@media (max-width: 960px) {
  .items__inner {
    display: block;
  }
  .item {
    min-width: 80%;
    margin: 0 auto;
  }
  .item__title {
    display: inline-block;
  }
  .item__box {
    text-align: center;
  }
  .item + .item {
    margin-top: 20px;
  }
  .item__icons {
    top: 50%;
    transform: translate(0, -50%);
  }
  .slider-nav {
    display: none;
  }
}

@media (max-width: 860px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__about {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
  }
}
@media (max-width: 600px) {
  .header__menu-btn {
    display: block;
  }
  .header__menu ul {
    display: none;
    position: absolute;
    z-index: 2;
    top: 78px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding-bottom: 3px;
    border-bottom: 5px solid #b9b9b9;
  }
  .header__menu li {
    display: block;
    text-align: center;
  }
  .header__menu li + li {
    margin-left: 0;
  }
  .header__menu a {
    padding: 12px;
    display: block;
  }
  .header__menu li + li a {
    border-top: 1px solid #b9b9b9;
  }
  .item__text {
    margin-bottom: 20px;
  }
  .footer__twitter {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
  }

  .slider__item {
    filter: blur(5px);
  }
  .slick-center {
    filter: blur(0);
  }
}
@media (max-width: 560px) {
  .item__title {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 500px) {
  .slider__item-title {
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
  }
  .slider__item-title .title {
    font-size: 14px;
  }
  .slider__item-title p {
    font-size: 9px;
    margin: 15px 15px 0 0px;
  }
  .slider__item-title {
    padding: 15px 10px;
  }
  .slick-next {
    right: 10px;
  }
  .slick-prev {
    left: 10px;
  }
  .item__title {
    padding-left: 55px;
  }
  .works__inner-item {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .header__menu > ul {
    display: block !important;
  }
}
